In [1]:
import pandas as pd

data = pd.read_csv(
    'Ind test 1.2.2 - RAW data task4_1_316952.csv',
    delimiter=',',
    decimal='.', index_col='ID')

In [36]:
data

     DISTANCE  STOP_COUNT   COST  FITNESS  INTERNET
ID
1          23           8  35000       24         3
2          10           3  56000        8         4
3          27           8  45000       14         0
4           5           3  31000       19         3
5          21           3  59000        5         2
..        ...         ...    ...      ...       ...
196        25           2  33000        6         0
197        14          12  38000       20         3
198        28           1  50000       10         2
199        22           6  37000       12         3
200         6           6  27000       16         2

[200 rows x 5 columns]

In [49]:
data = data[data['INTERNET'] != 0]
data

     DISTANCE  STOP_COUNT   COST  FITNESS  INTERNET
ID
1          23           8  35000       24         3
2          10           3  56000        8         4
4           5           3  31000       19         3
5          21           3  59000        5         2
6          12          10  40000       16         1
..        ...         ...    ...      ...       ...
195        25           5  53000        4         1
197        14          12  38000       20         3
198        28           1  50000       10         2
199        22           6  37000       12         3
200         6           6  27000       16         2

[159 rows x 5 columns]

In [50]:
import numpy as np

In [51]:
data_normalized = 1 - np.exp(1 - data/data.min())
data_normalized

     DISTANCE  STOP_COUNT      COST   FITNESS  INTERNET
ID
1    0.998727    0.999088  0.527633  0.999088  0.864665
2    0.903028    0.864665  0.834701  0.811124  0.950213
4    0.486583    0.864665  0.423050  0.995172  0.864665
5    0.997521    0.864665  0.857726  0.486583  0.632121
6    0.950213    0.999877  0.632121  0.986876  0.000000
..        ...         ...       ...       ...       ...
195  0.999347    0.981684  0.807950  0.283469  0.000000
197  0.974438    0.999983  0.593430  0.996541  0.864665
198  0.999760    0.000000  0.776870  0.903028  0.632121
199  0.998224    0.993262  0.572585  0.950213  0.864665
200  0.632121    0.993262  0.295312  0.986876  0.632121

[159 rows x 5 columns]

In [52]:
data_normalized['FUNC'] = 0

In [53]:
data_normalized['FUNC'] = data_normalized['DISTANCE'] + data_normalized['STOP_COUNT'] + data_normalized['COST'] + data_normalized['FITNESS'] * 0.4 - data_normalized['INTERNET'] * 0.5
data_normalized.sort_values(by=['FUNC'])

     DISTANCE  STOP_COUNT      COST   FITNESS  INTERNET      FUNC
ID
191  0.000000    0.997521  0.221199  0.998727  0.950213  1.143105
84   0.999828    0.000000  0.329680  0.997521  0.950213  1.253410
75   0.981684    0.000000  0.221199  0.998224  0.632121  1.286113
134  0.950213    0.000000  0.451188  0.999532  0.950213  1.326108
15   0.283469    0.632121  0.650062  0.486583  0.864665  1.327952
..        ...         ...       ...       ...       ...       ...
120  0.995172    0.999983  0.787752  0.950213  0.000000  3.162993
47   0.999760    0.981684  0.787752  0.999665  0.000000  3.169062
163  0.986876    0.999088  0.826226  0.986876  0.000000  3.206941
118  0.999665    0.981684  0.857726  0.930517  0.000000  3.211281
41   0.997521    0.999983  0.834701  0.999665  0.000000  3.232071

[159 rows x 6 columns]