В этом блокноте мы научимся производить нормировку данных и строить целевую функцию, исопльзуя [данные](https://studio.openedu.ru/assets/courseware/v1/d08d2a6e36b1cba04451137ce31ed8e1/asset-v1:ITMOUniversity+DATANTECH2035+fall_2021+type@asset+block/task4_926997.csv)

Для начала подключаем библиотеку pandas и загружаем интересующий нас файл при помощи метода `read_csv(file_name, delimeter, index_col, decimal, usecols, header, ...)`. Подробное описание можно найти по [ссылке](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://studio.openedu.ru/assets/courseware/v1/d08d2a6e36b1cba04451137ce31ed8e1/asset-v1:ITMOUniversity+DATANTECH2035+fall_2021+type@asset+block/task4_926997.csv',
                       delimiter=',',
                       decimal='.', index_col = 'ID')

Посмотрим на наши данные

In [ ]:
data

     DISTANCE  STOP_COUNT   COST
ID
1          28           9  16.92
2          19           2  17.08
3          20          12  16.50
4          26           9  26.57
5          16           7  20.92
..        ...         ...    ...
196        25           2  21.60
197        14          12  18.87
198        24           3  20.74
199        14           1  10.10
200        20           7  10.13

[200 rows x 3 columns]

Теперь выполним экспоненциальную нормировку:
$$
\widetilde x_i = 1 - e^{1 - \frac{x_i}{x_{min}}}
$$

Подключим библиотеку для вычисления экспоненты

In [ ]:
import numpy as np

Проведем экспоненциальную нормировку и выведем данные

In [ ]:
data = 1 - np.exp(1 - data/data.min())
data

     DISTANCE  STOP_COUNT      COST
ID
1    0.999760    0.999665  0.494349
2    0.995172    0.632121  0.502328
3    0.996541    0.999983  0.472791
4    0.999532    0.999665  0.806244
5    0.986876    0.997521  0.660242
..        ...         ...       ...
196  0.999347    0.632121  0.682449
197  0.974438    0.999983  0.583449
198  0.999088    0.864665  0.654109
199  0.974438    0.000000  0.003968
200  0.996541    0.997521  0.006934

[200 rows x 3 columns]

Заведем дополнительную колонку для вычисления значений целевой функции:

In [ ]:
data['SUM'] = 0

Вычислим значение целевой функции и отсортируем результат:

In [ ]:
data['SUM'] = data['DISTANCE'] + data['STOP_COUNT'] + data['COST']
data.sort_values(by = ['SUM'])

     DISTANCE  STOP_COUNT      COST       SUM
ID
36   0.000000    0.000000  0.129050  0.129050
49   0.000000    0.000000  0.376970  0.376970
58   0.283469    0.000000  0.547624  0.831092
199  0.974438    0.000000  0.003968  0.978407
85   0.736403    0.000000  0.280376  1.016778
..        ...         ...       ...       ...
113  0.999347    0.993262  0.850966  2.843574
147  0.999532    0.999983  0.845536  2.845051
92   0.998224    0.999955  0.849776  2.847954
109  0.999760    0.999877  0.853025  2.852662
28   0.996541    0.999665  0.860568  2.856773

[200 rows x 4 columns]