1. При помощи Python создайте функцию `get_triple(a,b,c)`, принимающую на вход три числа и возвращающую серию с индексами `a`, `b` и `c` соответственно для первого, второго и третьего числа, а сами числа преобразованы в тип `np.float64`:\

In [1]:
import numpy as np
import pandas as pd

def get_triple(a, b, c):
    # Преобразуем входные числа в тип np.float64
    a_float = np.float64(a)
    b_float = np.float64(b)
    c_float = np.float64(c)
    
    # Создаем серию с индексами "a", "b" и "c"
    series = pd.Series([a_float, b_float, c_float], index=['a', 'b', 'c'])
    
    return series

# Пример использования
result = get_triple(1, 2, 3)
print(result)

a    1.0
b    2.0
c    3.0
dtype: float64

C:\Users\stalk\AppData\Local\Temp\ipykernel_20804\2819200077.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import numpy as np
import pandas as pd

def get_triple(a, b, c):
    return pd.Series([a, b, c], index=['a', 'b', 'c'], dtype=np.float64)

result = get_triple(1, 2, 3)
print(result)

a    1.0
b    2.0
c    3.0
dtype: float64

2. Ниже приведен фрагмент кода на языке Python:
`s = pd.Series([1, 2, 3, 4], index=[4, 3, 2, 1])`
Какое значение будет возвращено при таком обращении к полю серии: `s.loc[3]`?

In [3]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=[4, 3, 2, 1])
value = s.loc[3]
print(value)

2

3. Ниже приведен фрагмент кода на языке Python:
`s = pd.Series([1, 2, 3, 4], index=[4, 3, 2, 1])`
Какое значение будет возвращено при таком обращении к полю серии `s.iloc[ [3, 1] ]`?

In [4]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=[4, 3, 2, 1])
values = s.iloc[[3, 1]]
print(values)

1    4
3    2
dtype: int64

4. Ниже приведен фрагмент кода на языке Python:
`s = pd.Series([1, 2, 3, 4], index=[4, 3, 2, 1])`
Какие значения будут возвращены при таком обращении к полям серии `s[3:1:-1]`?

In [5]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=[4, 3, 2, 1])
result = s[3:1:-1]
print(result)

1    4
2    3
dtype: int64

5. Ниже приведен фрагмент кода на языке Python:
`s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])`
Какой из ниже представленных фрагментов кода подходит для того, чтобы заменить все четные числа в серии на нули?
```
s[ [2, 4] ] = 0
s[ ['b', 'd'] ] = 0
s.loc[ [1, 3] ] = 0
s.iloc[ [1, 3] ] = 0
s.loc[ ['b', 'd'] ] = 0
s.iloc[ ['b', 'd'] ] = 0
```

In [8]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print(s)

a    1
b    2
c    3
d    4
dtype: int64