1. Пусть у нас есть некий датафрейм `df` со следующими колонкам:`Column1`, `Column2`, `Column3`:
```
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']}) 
```

Напишите строку кода на языке Python, которая меняет значения `'1st'`на `1`:
Напишите строку кода на языке Python, которая меняет значения `'NULL'` на `NaN` в колонке `'Column1'`:

In [1]:
import pandas as pd
import numpy as np

# Создание DataFrame
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']
})

# Замена значений '1st' на 1 во всём DataFrame
df.replace('1st', 1, inplace=True)

print(df)

# Замена значений 'NULL' на NaN в колонке 'Column1'
df['Column1'].replace('NULL', np.nan, inplace=True)

# Печать результата
print(df)

  Column1 Column2 Column3
0      10       0       1
1      25    NULL     3rd
2    NULL       1     3rd
3      70       0     2nd
4      18       1       1
   Column1 Column2 Column3
0     10.0       0       1
1     25.0    NULL     3rd
2      NaN       1     3rd
3     70.0       0     2nd
4     18.0       1       1

C:\Users\stalk\AppData\Local\Temp\ipykernel_19120\4294702023.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\stalk\AppData\Local\Temp\ipykernel_19120\4294702023.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Column1'].replace('NULL', np.nan, inplace=True)
C:\Users\stalk\AppData\Local\Temp\ipykernel_19120\4294702023.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Column1'].replace('NULL', np.nan, inplace=True)

2. Пусть у нас есть некий датафрейм `df` со следующими колонкам:`Column1`, `Column2`, `Column3`:
```
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']}) 
```
Cколько колонок останется в нашем датафрейме после выполнения следующей строки кода `df.drop({'Column1','Column2'}, axis=1)`:

In [3]:
import pandas as pd

# Создание DataFrame
df = pd.DataFrame({
    'Column1': [10, 25, 'NULL', 70, 18],
    'Column2': [0, 'NULL', 1, 0, 1],
    'Column3': ['1st', '3rd', '3rd', '2nd', '1st']
})

# Удаление колонок 'Column1' и 'Column2'
df.drop({'Column1', 'Column2'}, axis=1)

# Печать оставшихся колонок
print(df.columns)

Index(['Column1', 'Column2', 'Column3'], dtype='object')

3. Средствами библиотеки Pandas языка Python считайте данные из файле `titanic.csv` (набор данных выживших пассажиров Титаника: класс кабины, возраст, пол, порт посадки и т.д.) и введите названия колонок (через запятую), в которых есть значения `NaN`:

In [5]:
import pandas as pd

# Загрузка данных из файла titanic.csv
df = pd.read_csv('Exercises - 3.3.2 titanic.csv')

# Проверка на наличие значений NaN в каждом столбце и выбор столбцов с NaN
columns_with_nan = df.columns[df.isna().any()].tolist()

# Вывод названий колонок через запятую
print(", ".join(columns_with_nan))

Age