1. При помощи Python создайте функцию `is_positive_numeric(a)`, принимающую на вход одну серию, состоящую из целочисленных чисел, и возвращающую новую серию, где на местах неотрицательных значений из первой серии стоит 1, а на местах отрицательных значений из первой серии — `0`. Например, если `a = pd.Series([-3, 4, 2, -2, 6, 0])`, то возвращена должна быть серия, состоящая из элементов: `[0, 1, 1, 0, 1, 1]`)

In [5]:
import pandas as pd

def is_positive_numeric(a):
    # Проверим, что все элементы серии имеют целочисленный тип
    if not pd.api.types.is_integer_dtype(a):
        raise ValueError("Серия должна состоять из целочисленных чисел")

    # Создаем новую серию, где на местах неотрицательных значений стоит 1, а на местах отрицательных — 0
    result = (a >= 0).astype(int)
    
    return result

# Пример использования
a = pd.Series([93, 67, 93, 28, 11, 46, -3, 84, -59, -10, 66, -97, 75, -34, 93, -46, 5, 57, 61, 18, 22])
result = is_positive_numeric(a)
print(result)

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     1
8     0
9     0
10    1
11    0
12    1
13    0
14    1
15    0
16    1
17    1
18    1
19    1
20    1
dtype: int32

In [6]:
import pandas as pd

def is_positive_numeric(a):
    return a.mask(a >= 0, 1).where(a >= 0, 0)

# Пример использования
a = pd.Series([93, 67, 93, 28, 11, 46, -3, 84, -59, -10, 66, -97, 75, -34, 93, -46, 5, 57, 61, 18, 22])
result = is_positive_numeric(a)
print(result)

0     1
1     1
2     1
3     1
4     1
5     1
6     0
7     1
8     0
9     0
10    1
11    0
12    1
13    0
14    1
15    0
16    1
17    1
18    1
19    1
20    1
dtype: int64

2. При помощи Python создайте функцию `fill_na_with_array(a, b)`, принимающую на вход две серии одинаковых размеров. В первой серии могут встречаться `NaN`-значения. На местах `NaN`-значений из первой серии нужно поставить соответствующее (имеющее тот же индекс) значение из второй серии, и вернуть новую серию. Например, если `a = pd.Series([np.nan, 12, np.nan])` и `b = pd.Series([1, 2, 3])`, то возвращена должна быть серия, состоящая из элементов: `[1.0, 12.0, 3.0]`)

In [8]:
import pandas as pd
import numpy as np

def fill_na_with_array(a, b):
    # Проверим, что обе серии имеют одинаковый размер
    if len(a) != len(b):
        raise ValueError("Серии должны быть одинакового размера")
    
    # Заполняем NaN значения из первой серии значениями из второй серии
    result = a.fillna(b)
    
    return result

# Пример использования
a = pd.Series([np.nan, 10, np.nan, np.nan, 81, -59, -15, np.nan, np.nan, -93, np.nan, 29, 44, 28, 30])
b = pd.Series([3, -23, 11, -64, 59, 33, -25, 71, -65, 60, 26, -66, -20, -80, -66])

result = fill_na_with_array(a, b)
print(result)

0      3.0
1     10.0
2     11.0
3    -64.0
4     81.0
5    -59.0
6    -15.0
7     71.0
8    -65.0
9    -93.0
10    26.0
11    29.0
12    44.0
13    28.0
14    30.0
dtype: float64

In [9]:
import pandas as pd

def fill_na_with_array(a, b):
    c = a.copy()
    c[a.isna()] = b[a.isna()]
    return c

a = pd.Series([np.nan, 10, np.nan, np.nan, 81, -59, -15, np.nan, np.nan, -93, np.nan, 29, 44, 28, 30])
b = pd.Series([3, -23, 11, -64, 59, 33, -25, 71, -65, 60, 26, -66, -20, -80, -66])

result = fill_na_with_array(a, b)
print(result)

0      3.0
1     10.0
2     11.0
3    -64.0
4     81.0
5    -59.0
6    -15.0
7     71.0
8    -65.0
9    -93.0
10    26.0
11    29.0
12    44.0
13    28.0
14    30.0
dtype: float64

3. При помощи Python создайте функцию `lower_sign_invert(a)`, принимающую на вход серию из чисел и возвращающую копию этой серии, в которой изменен знак числа, если ассоциативная метка к нему — буква нижнего регистра. Например, если `a = pd.Series([1, 2, 3, 4], index=['a', 'A', 'B', 'b'])`, то возвращена должна быть серия
```
a   -1
A   2
B   3
b   -4   
```

In [10]:
import pandas as pd

def lower_sign_invert(a):
    # Создаем копию входной серии, чтобы не изменять оригинал
    result = a.copy()
    
    # Изменяем знак чисел в серии для индексов, которые являются буквами нижнего регистра
    for idx in result.index:
        if isinstance(idx, str) and idx.islower():
            result[idx] = -result[idx]
    
    return result

# Пример использования
a = pd.Series([1, 2, 3, 4], index=['a', 'A', 'B', 'b'])
result = lower_sign_invert(a)
print(result)

a   -1
A    2
B    3
b   -4
dtype: int64